.intro{
    font-size: 20px;
    border-width: 5px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 20px;
    background-color: teal;
    margin: 30px;
}

body{
  background-color: #e9dccd;
  font-family: fantasy;
}
.column{
  width: 400px;
  float: left;
  font-family: monospace;
  padding: 20px;
}

.column p{
  font-family: serif;
}

.column li{
  font-family: sans-serif;
}
.centered{
  text-align: center;
}
img{
   width: 600px;
   border: 5px solid #ffcccc;
}
.column img{
   width: 300px;
   border: 10px solid grey;

}

.clear{
  clear: both;
}
