.intro{
    font-size: 20px;
    border-width: 5px;
    border-radius: 4px;
    padding: 20px;
    background-color: #d1d1e0;
    margin: 30px;
}

.intro img{
  border: 5px dotted blue;
}

ul{
  list-style-position: inside;
}

body{
  background-color: #e9dccd;
  font-family: fantasy;
}

.column{
  width: 400px;
  float: left;
  padding: 20px;
}

.centered{
  text-align: center;
}

img{
   width: 600px;
   border: 5px solid pink;
}

em {
  font-weight: bold;
  color: red;
}

li {
  color: green;
}

.column li {
  color: blue;
}

.column li em {
  color: purple;
  font-size: 30px;
}

.column img{
   width: 300px;
   border: 5px solid red;

}

.clear{
  clear: both;
}
@media screen and (max-width: 480px) and (min-width: 300px) {
  column{
    width: 250px;
    float: left;
    padding: 10px;
  }
  .column img{
     width: 200px;
     border: 10px solid red;
  }
}

@media screen and (max-width: 1000px) and (min-width: 700px){
  column{
    width: 200px;
    float: left;
    padding: 10px;
  }
  .column img{
     width: 170px;
     border: 10px solid blue;

  }
}
